{% extends "base.html.twig" %}

{% block title "" %}

{% block body %}


    <div class="row">
        <div class="col-8">
            {% if 'http' in annonce.picture %}
                {% set picture = annonce.picture %}
            {% else %}
                {% set picture = asset('uploads/imgAnnonce/'~ annonce.picture) %}
            {% endif %}
            <img class="corners"
                 src="{{ picture }}"
                 alt="Photo de l'annonce {{ annonce.id }}"
            />
        </div>
        <div class="col-4">
            {% set user = annonce.user %}
            <i class="fas fa-user-alt"></i> {{ user.fullName }}
            <hr/>
            <i class="fas fa-phone"></i> {{ user.phoneNumber }}
            <br>

            <div class=" mt-5 text-center">
                <button class=" btn btn-outline-info">
                    <i class="fas fa-envelope"></i>
                    Contacter
                    l'annonceur
                </button>
            </div>

        </div>

    </div>

    <div>
        <h2>{{ annonce.title }}</h2>

    </div>
    <div>
        <br/>
        <h4>  {{ annonce.price | number_format(2,"."," ") }} €</h4>
    </div>
    <div>
        {{ annonce.createdAt | date("Y/m/d à H:m") }}
    </div>
    <h5 class="mt-4">Description</h5>
    <div class="row mt-3">
        <div class="col-8 text-justify">{{ annonce.description }}</div>
    </div>

    <div class="card">
        <div class="card-title">{{ annonce.title }}</div>
        <div class="card-img">
            <img src="{{ asset('uploads/imgAnnonce/'~annonce.picture) }}" height="80" width="80" alt="avatar"/>
        </div>
        <div class="card-body">
            <p>
                {{ annonce.description }}
            </p>
        </div>

    </div>
{% endblock %}