<html lang="FR">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <title>Titre</title>
</head>
<body>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Crée le</th>
    </tr>
    </thead>
    <tbody>
    {% for annonce in annonces %}
        <tr>
            <td>{{ annonce.id }}</td>
            <td>{{ annonce.title }}</td>
            <td>{{ annonce.description }}</td>
            <td>{{ annonce.price | number_format(2,'.',' ') }}</td>
            <td>{{ annonce.createdAt | date("d/m/Y à H:m") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>