{% extends "base.html.twig" %}

{% block title "Résiliation du mot de passe" %}

{% block body %}
    <h3>Renouveler le mot de passe </h3>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                {{ form_row(form.password) }}
                {{ form_row(form.new_password) }}
                {{ form_row(form.confirm_password) }}

                <button type="submit" class="btn btn-success">
                    <i class="fas fa-key"></i>
                    Valider
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}